html {
  height: 100%;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.05) 0.01%,
      rgba(255, 255, 255, 0.15) 100%
    ),
    #462878 no-repeat;
}

html {
  background-color: #462878;
}

canvas {
  height: auto;
  width: auto;
}
body {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-rows: auto 1fr 1fr;
  touch-action: manipulation;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.05) 0.01%,
      rgba(255, 255, 255, 0.15) 100%
    ),
    #462878 no-repeat;
}
@media (max-width: 980px) {
  body {
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.05) 0.01%,
        rgba(255, 255, 255, 0.15) 100%
      ),
      #462878 no-repeat;
  }
}
.title {
  margin: 0;
  padding-left: 30px;
  padding: 30px 0 30px 30px;
  color: #ffffff;
  font-size: 36px;
  font-weight: 200;
}
input {
  width: 150px;
  width: 30%;
  height: 25px;
  border-radius: 10px;
  color: #2d1207;
  font-size: 18px;
  font-weight: 300;
  margin-top: 10px;
  border: none;
  text-align: center;
  background-color: #d6c4f5;
}
p {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
}

button {
  font-family: "Roboto", sans-serif;
  width: 90%;
  height: 35px;
  background-color: #7f45e2;
  font-size: 18px;
  font-weight: 300;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}
button:hover {
  background-color: #743fcf;
  box-shadow: 0px 11px 7px rgba(0, 0, 0, 0.01), 0px 7px 7px rgba(0, 0, 0, 0.04),
    0px 4px 6px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.26),
    0px 0px 2px rgba(0, 0, 0, 0.29), inset 0px 2px 3px rgba(255, 255, 255, 0.1);
}
.inputs {
  width: 300px;
  height: 100%;
  margin: 0;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.05) 0.01%,
      rgba(255, 255, 255, 0.05) 100%
    ),
    #462878;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 188px 52px rgba(0, 0, 0, 0.01), 0px 120px 48px rgba(0, 0, 0, 0.04),
    0px 68px 41px rgba(0, 0, 0, 0.15), 0px 30px 30px rgba(0, 0, 0, 0.26),
    0px 8px 17px rgba(0, 0, 0, 0.29), inset 0px 6px 8px rgba(255, 255, 255, 0.1),
    inset 0px -4px 5px rgba(0, 0, 0, 0.22);
  border-radius: 15px;
  color: #ffffff;
}
.cost {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.15) 0%,
      rgba(255, 255, 255, 0.05) 100%
    ),
    #7f45e2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 188px 52px rgba(0, 0, 0, 0.01), 0px 120px 48px rgba(0, 0, 0, 0.04),
    0px 68px 41px rgba(0, 0, 0, 0.15), 0px 30px 30px rgba(0, 0, 0, 0.26),
    0px 8px 17px rgba(0, 0, 0, 0.29), inset 0px 6px 8px rgba(255, 255, 255, 0.1),
    inset 0px -4px 5px rgba(0, 0, 0, 0.22);
  border-radius: 15px;
  height: 100%;

  padding: 0 45px 0 35px;
  color: #ffffff;
}
.testTab {
  font-size: 18px;
  font-weight: 300;
}

table {
  font-size: 15px;
}

.containerMain {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 100%;
  gap: 15px;
  margin-left: 30px;
  max-height: 380px;
}
@media (max-width: 980px) {
  .containerMain {
    flex-direction: column;
    max-height: none;
  }
}
.canv {
  display: block;
  margin: 2% auto;
  border: rgb(0, 0, 0) solid 1px;
  image-rendering: pixelated;
}

.parametrs {
  display: none;
}
.littleBlocks {
  display: none;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: coral;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.05) 0.01%,
      rgba(255, 255, 255, 0.05) 100%
    ),
    #462878;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 188px 52px rgba(0, 0, 0, 0.01), 0px 120px 48px rgba(0, 0, 0, 0.04),
    0px 68px 41px rgba(0, 0, 0, 0.15), 0px 30px 30px rgba(0, 0, 0, 0.26),
    0px 8px 17px rgba(0, 0, 0, 0.29), inset 0px 6px 8px rgba(255, 255, 255, 0.1),
    inset 0px -4px 5px rgba(0, 0, 0, 0.22);
  border-radius: 15px;
  height: 100%;
  display: none;
  padding: 0 45px 0 35px;
}
.divA {
  float: left;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.divB {
  float: left;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.divC {
  float: left;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.letterA {
  width: 20px;
  height: 30px;
  margin: 0 auto;
  color: #ffffff;
}
.letterB {
  width: 20px;
  height: 30px;
  margin: 0 auto;
  color: #ffffff;
}
.letterC {
  width: 20px;
  height: 30px;
  margin: 0 auto;
  color: #ffffff;
}
.testing {
  image-rendering: pixelated;
}

.footer {
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.githubLogo {
  width: 50px;
  height: 50px;
  filter: invert(100%);
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 22px;
  }
}

.newTd {
  border: black 1px solid;
  width: 60px;
  height: 60px;
  background-color: #e8eeee;
}
.newTr {
  width: 60px;
  height: 60px;
  background-color: #e8eeee;
  border: black 1px solid;
}

.newTest {
  width: max-content;
}

.bottomTr {
  width: 60px;
  height: 30px;
  background-color: #e8eeee;
  border: black 1px solid;
}

.lastRightTd {
  width: 60px;
  height: 60px;
  background-color: aquamarine;
}
.lastBottomTr {
  width: 60px;
  height: 60px;
  background-color: antiquewhite;
}

.A {
  background-color: rgb(236, 178, 178);
  width: 60px;
  height: 60px;
}

.B {
  width: 60px;
  height: 60px;
  background-color: rgb(209, 244, 209);
}

.C {
  background-color: rgb(197, 197, 246);
  width: 60px;
  height: 60px;
}
